# Dependencies
/node_modules
/vendor

# IDE and OS Files
/.idea
/.vscode
/.DS_Store
Thumbs.db

# Laravel Environment File (Sangat Penting!)
.env
.env.backup
.env.testing

# Laravel Logs
/storage/logs/*.log
npm-debug.log
yarn-error.log

# Laravel Storage, Public, & Build Files
/public/hot
/public/storage
/public/build
/storage/*.key

# Laravel Cached Files (SANGAT PENTING untuk Vercel)
/bootstrap/cache/*.php

# Local Development Tools
Homestead.json
Homestead.yaml
docker-compose.override.yml

# PHPUnit
.phpunit.result.cache

# Vercel
.vercel